.seller {
  position: absolute;
  top: 174px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background: #f3f5f7;
}
.seller .seller-content {
  background: #fff;
}
.seller .seller-content .overview {
  padding: 18px;
  position: relative;
}
.seller .seller-content .overview .title {
  margin-bottom: 8px;
  line-height: 14px;
  color: #07111b;
  font-size: 14px;
}
.seller .seller-content .overview .desc {
  padding: 8px 0 18px 0;
  font-size: 0;
  position: relative;
}
.seller .seller-content .overview .desc:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(7, 17, 27, 0.1);
  width: 100%;
  content: '';
}
.seller .seller-content .overview .desc .star {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}
.seller .seller-content .overview .desc .text {
  display: inline-block;
  vertical-align: top;
  line-height: 18px;
  margin-right: 12px;
  color: #4d555d;
  font-size: 10px;
}
.seller .seller-content .overview .remark {
  display: flex;
  margin-top: 18px;
}
.seller .seller-content .overview .remark .block {
  flex: 1;
  text-align: center;
  border-right: 1px solid rgba(7, 17, 27, 0.1);
}
.seller .seller-content .overview .remark .block:last-child {
  border: none;
}
.seller .seller-content .overview .remark .block .title {
  margin-bottom: 4px;
  font-size: 10px;
  color: #93999f;
  line-height: 12px;
}
.seller .seller-content .overview .remark .block .content {
  font-size: 10px;
  color: #07111b;
}
.seller .seller-content .overview .remark .block .content .stress {
  font-size: 24px;
  font-weight: 300;
  color: #07111b;
  line-height: 24px;
}
.seller .seller-content .overview .favorite {
  position: absolute;
  right: 11px;
  top: 18px;
  width: 50px;
  text-align: center;
}
.seller .seller-content .overview .favorite .icon-shoucang {
  display: block;
  margin-bottom: 6px;
  line-height: 24px;
  font-size: 25px;
  color: #d4d6d9;
}
.seller .seller-content .overview .favorite .icon-shoucang.active {
  color: red;
}
.seller .seller-content .overview .favorite .text {
  line-height: 18px;
  font-size: 10px;
  color: #4d555d;
}
.seller .seller-content .bulletin {
  padding: 18px 18px 0 18px;
}
.seller .seller-content .bulletin .title {
  margin-bottom: 8px;
  line-height: 14px;
  font-size: 14px;
  font-weight: 700;
  color: #07111b;
}
.seller .seller-content .bulletin .content-wrapper {
  padding: 0 12px 16px 12px;
  position: relative;
}
.seller .seller-content .bulletin .content-wrapper:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(7, 17, 27, 0.1);
  width: 100%;
  content: '';
}
.seller .seller-content .bulletin .content-wrapper .content {
  color: #f01414;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.seller .seller-content .bulletin .support .support-item {
  padding: 16px 12px;
  position: relative;
  font-size: 0;
}
.seller .seller-content .bulletin .support .support-item:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(7, 17, 27, 0.1);
  width: 100%;
  content: '';
}
.seller .seller-content .bulletin .support .support-item:last-child:after {
  display: none;
}
.seller .seller-content .bulletin .support .support-item .icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
.seller .seller-content .bulletin .support .support-item .icon.decrease {
  background-image: url('decrease_4@2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .seller .seller-content .bulletin .support .support-item .icon.decrease {
    background-image: url('decrease_4@3x.png');
  }
}
.seller .seller-content .bulletin .support .support-item .icon.discount {
  background-image: url('discount_4@2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .seller .seller-content .bulletin .support .support-item .icon.discount {
    background-image: url('discount_4@3x.png');
  }
}
.seller .seller-content .bulletin .support .support-item .icon.guarantee {
  background-image: url('guarantee_4@2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .seller .seller-content .bulletin .support .support-item .icon.guarantee {
    background-image: url('guarantee_4@3x.png');
  }
}
.seller .seller-content .bulletin .support .support-item .icon.invoice {
  background-image: url('invoice_4@2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .seller .seller-content .bulletin .support .support-item .icon.invoice {
    background-image: url('invoice_4@3x.png');
  }
}
.seller .seller-content .bulletin .support .support-item .icon.special {
  background-image: url('special_4@2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .seller .seller-content .bulletin .support .support-item .icon.special {
    background-image: url('special_4@3x.png');
  }
}
.seller .seller-content .bulletin .support .support-item .text {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  color: #07111b;
}
.seller .seller-content .pics {
  padding: 18px;
}
.seller .seller-content .pics .title {
  margin-bottom: 8px;
  line-height: 14px;
  font-size: 14px;
  font-weight: 700;
  color: #07111b;
}
.seller .seller-content .pics .picwrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.seller .seller-content .pics .picwrapper .pic-list {
  font-size: 0;
}
.seller .seller-content .pics .picwrapper .pic-list .pic-item {
  display: inline-block;
  margin-right: 6px;
  width: 120px;
  height: 90px;
}
.seller .seller-content .pics .picwrapper .pic-list .pic-item:last-child {
  margin: 0;
}
.seller .seller-content .info {
  padding: 18px 18px 0 18px;
}
.seller .seller-content .info .title {
  padding-bottom: 8px;
  line-height: 14px;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  color: #07111b;
}
.seller .seller-content .info .title:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(7, 17, 27, 0.1);
  width: 100%;
  content: '';
}
.seller .seller-content .info .info-item {
  padding: 16px 12px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 200;
  color: #07111b;
  position: relative;
}
.seller .seller-content .info .info-item:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(7, 17, 27, 0.1);
  width: 100%;
  content: '';
}
.seller .seller-content .info .info-item:last-child {
  margin-bottom: 0;
}
.seller .seller-content .info .info-item:last-child:after {
  display: none;
}
.seller .seller-content .foot {
  background: #f3f5f7;
  height: 50px;
  line-height: 50px;
}
.seller .seller-content .foot .title {
  margin: 0 auto;
  display: flex;
  width: 80%;
}
.seller .seller-content .foot .title .line {
  flex: 1;
  position: relative;
  top: -24px;
  border-bottom: 1px solid rgba(216, 220, 218, 0.3);
}
.seller .seller-content .foot .title .text {
  font-size: 14px;
  padding: 0 12px;
  font-weight: 300;
  color: #8c8c8c;
}
