.star {
  font-size: 0;
}
.star .star-item {
  display: inline-block;
  background-repeat: no-repeat;
}
.star.star-48 .star-item {
  width: 20px;
  height: 20px;
  margin-right: 22px;
  background-size: 20px 20px;
}
.star.star-48 .star-item:last-child {
  margin-right: 0;
}
.star.star-48 .star-item.on {
  background-image: url('star48_on@2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .star.star-48 .star-item.on {
    background-image: url('star48_on@3x.png');
  }
}
.star.star-48 .star-item.half {
  background-image: url('star48_half@2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .star.star-48 .star-item.half {
    background-image: url('star48_half@3x.png');
  }
}
.star.star-48 .star-item.off {
  background-image: url('star48_off@2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .star.star-48 .star-item.off {
    background-image: url('star48_off@3x.png');
  }
}
.star.star-36 .star-item {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  background-size: 15px 15px;
}
.star.star-36 .star-item:last-child {
  margin-right: 0;
}
.star.star-36 .star-item.on {
  background-image: url('star36_on@2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .star.star-36 .star-item.on {
    background-image: url('star36_on@3x.png');
  }
}
.star.star-36 .star-item.half {
  background-image: url('star36_half@2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .star.star-36 .star-item.half {
    background-image: url('star36_half@3x.png');
  }
}
.star.star-36 .star-item.off {
  background-image: url('star36_off@2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .star.star-36 .star-item.off {
    background-image: url('star36_off@3x.png');
  }
}
.star.star-24 .star-item {
  width: 10px;
  height: 10px;
  margin-right: 3px;
  background-size: 10px 10px;
}
.star.star-24 .star-item:last-child {
  margin-right: 0;
}
.star.star-24 .star-item.on {
  background-image: url('star24_on@2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .star.star-24 .star-item.on {
    background-image: url('star24_on@3x.png');
  }
}
.star.star-24 .star-item.half {
  background-image: url('star24_half@2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .star.star-24 .star-item.half {
    background-image: url('star24_half@3x.png');
  }
}
.star.star-24 .star-item.off {
  background-image: url('star24_off@2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .star.star-24 .star-item.off {
    background-image: url('star24_off@3x.png');
  }
}
