html,
body {
  font-family: 微软雅黑;
  font-weight: normal;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px::after {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px::after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
  content: ".";
}
.tab {
  display: flex;
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: relative;
}
.tab:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(7, 17, 27, 0.1);
  width: 100%;
  content: '';
}
.tab .tab-item {
  flex: 1;
  text-align: center;
}
.tab .tab-item a {
  display: block;
  font-size: 14px;
  color: #4d555d;
}
.tab .tab-item .active {
  color: #00a0dc;
  position: relative;
}
.tab .tab-item .active:after {
  display: block;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 1px;
  border-bottom: 2px solid #00a0dc;
  border-radius: 3px;
  width: 29px;
  content: '';
}
