.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #1890ff;
  border-color: #057cff;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #0076e4;
  border-color: #003f84;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0076e4;
  border-color: #005fc7;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #0076e4;
  border-color: #005fc7;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #0064c0;
  border-color: #003f84;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #1890ff;
  border-color: #057cff;
}
.btn-primary .badge {
  color: #1890ff;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255525;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398339;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398339;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255525;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.btn-error {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-error:focus,
.btn-error.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #751c1a;
}
.btn-error:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ab2a25;
}
.btn-error:active,
.btn-error.active,
.open > .dropdown-toggle.btn-error {
  color: #fff;
  background-color: #c9302c;
  border-color: #ab2a25;
}
.btn-error:active:hover,
.btn-error.active:hover,
.open > .dropdown-toggle.btn-error:hover,
.btn-error:active:focus,
.btn-error.active:focus,
.open > .dropdown-toggle.btn-error:focus,
.btn-error:active.focus,
.btn-error.active.focus,
.open > .dropdown-toggle.btn-error.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #751c1a;
}
.btn-error:active,
.btn-error.active,
.open > .dropdown-toggle.btn-error {
  background-image: none;
}
.btn-error.disabled:hover,
.btn-error[disabled]:hover,
fieldset[disabled] .btn-error:hover,
.btn-error.disabled:focus,
.btn-error[disabled]:focus,
fieldset[disabled] .btn-error:focus,
.btn-error.disabled.focus,
.btn-error[disabled].focus,
fieldset[disabled] .btn-error.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-error .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d86;
}
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abd;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abd;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d86;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:focus,
.btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985e0d;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58412;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58412;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985e0d;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btn-link {
  font-weight: 400;
  color: #337ab7;
  background-color: transparent;
  border-color: transparent;
}
.btn-link:focus,
.btn-link.focus {
  color: #337ab7;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.btn-link:hover {
  color: #337ab7;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.btn-link:active,
.btn-link.active,
.open > .dropdown-toggle.btn-link {
  color: #337ab7;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.btn-link:active:hover,
.btn-link.active:hover,
.open > .dropdown-toggle.btn-link:hover,
.btn-link:active:focus,
.btn-link.active:focus,
.open > .dropdown-toggle.btn-link:focus,
.btn-link:active.focus,
.btn-link.active.focus,
.open > .dropdown-toggle.btn-link.focus {
  color: #337ab7;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.btn-link:active,
.btn-link.active,
.open > .dropdown-toggle.btn-link {
  background-image: none;
}
.btn-link.disabled:hover,
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link.disabled:focus,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus,
.btn-link.disabled.focus,
.btn-link[disabled].focus,
fieldset[disabled] .btn-link.focus {
  background-color: transparent;
  border-color: transparent;
}
.btn-link .badge {
  color: transparent;
  background-color: #337ab7;
}
.position {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 60;
  background: #fff;
}
.position.move-enter-active,
.position.move-leave-active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all .3s linear;
}
.position.move-enter,
.position.move-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.position .here {
  padding: 0 10px;
}
.position .icon-a {
  background: #fff;
  height: 35px;
  width: 35px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
}
.position .icon-a .icon-101 {
  font-size: 28px;
}
.position .icon-a:link {
  color: #333;
}
.position .icon-a:hover,
.position .icon-a:visited {
  color: #00a0ef;
}
.position .amap-info-close {
  background: none;
}
.position .pos-title {
  width: 100%;
  height: 55px;
  line-height: 55px;
  background: #008aff;
  color: #fff;
}
.position .pos-title .icon-fanhui {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
}
.position .pos-title p {
  font-size: 16px;
  display: inline-block;
  margin-left: 20px;
}
.position .pos-title .icon-sousuo {
  float: right;
  margin-right: 10px;
  font-size: 20px;
}
.position #container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.position .input-box {
  position: absolute;
  padding-left: 42px;
  bottom: 65px;
  left: 50%;
  margin-left: -48%;
  width: 85%;
  height: 82px;
  background: #fff;
  box-shadow: 0px 3px 3px #cccbcb;
}
.position .input-box span {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 24px;
  color: #00a0ef;
}
.position .input-box p {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5;
}
.position .input-box input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
}
.position .input-box input:focus {
  outline: none;
  border: none;
}
.position .btn-queding {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -48%;
  width: 96%;
  height: 45px;
  line-height: 45px;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 16px;
  outline: none;
}
