.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #1890ff;
  border-color: #057cff;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #0076e4;
  border-color: #003f84;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0076e4;
  border-color: #005fc7;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #0076e4;
  border-color: #005fc7;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #0064c0;
  border-color: #003f84;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #1890ff;
  border-color: #057cff;
}
.btn-primary .badge {
  color: #1890ff;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255525;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398339;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398339;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255525;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.btn-error {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-error:focus,
.btn-error.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #751c1a;
}
.btn-error:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ab2a25;
}
.btn-error:active,
.btn-error.active,
.open > .dropdown-toggle.btn-error {
  color: #fff;
  background-color: #c9302c;
  border-color: #ab2a25;
}
.btn-error:active:hover,
.btn-error.active:hover,
.open > .dropdown-toggle.btn-error:hover,
.btn-error:active:focus,
.btn-error.active:focus,
.open > .dropdown-toggle.btn-error:focus,
.btn-error:active.focus,
.btn-error.active.focus,
.open > .dropdown-toggle.btn-error.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #751c1a;
}
.btn-error:active,
.btn-error.active,
.open > .dropdown-toggle.btn-error {
  background-image: none;
}
.btn-error.disabled:hover,
.btn-error[disabled]:hover,
fieldset[disabled] .btn-error:hover,
.btn-error.disabled:focus,
.btn-error[disabled]:focus,
fieldset[disabled] .btn-error:focus,
.btn-error.disabled.focus,
.btn-error[disabled].focus,
fieldset[disabled] .btn-error.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-error .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d86;
}
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abd;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abd;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d86;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:focus,
.btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985e0d;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58412;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58412;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985e0d;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btn-link {
  font-weight: 400;
  color: #337ab7;
  background-color: transparent;
  border-color: transparent;
}
.btn-link:focus,
.btn-link.focus {
  color: #337ab7;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.btn-link:hover {
  color: #337ab7;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.btn-link:active,
.btn-link.active,
.open > .dropdown-toggle.btn-link {
  color: #337ab7;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.btn-link:active:hover,
.btn-link.active:hover,
.open > .dropdown-toggle.btn-link:hover,
.btn-link:active:focus,
.btn-link.active:focus,
.open > .dropdown-toggle.btn-link:focus,
.btn-link:active.focus,
.btn-link.active.focus,
.open > .dropdown-toggle.btn-link.focus {
  color: #337ab7;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.btn-link:active,
.btn-link.active,
.open > .dropdown-toggle.btn-link {
  background-image: none;
}
.btn-link.disabled:hover,
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link.disabled:focus,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus,
.btn-link.disabled.focus,
.btn-link[disabled].focus,
fieldset[disabled] .btn-link.focus {
  background-color: transparent;
  border-color: transparent;
}
.btn-link .badge {
  color: transparent;
  background-color: #337ab7;
}
.choseAddress {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
  width: 100%;
  background: #fff;
}
.choseAddress.move-enter-active,
.choseAddress.move-leave-active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all .3s linear;
}
.choseAddress.move-enter,
.choseAddress.move-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.choseAddress .chose-title {
  height: 55px;
  width: 100%;
  line-height: 55px;
  position: fixed;
  background: #008aff;
  z-index: 55;
}
.choseAddress .chose-title .back {
  display: inline-block;
  margin-left: 10px;
}
.choseAddress .chose-title .back .iconfont {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
.choseAddress .chose-title span {
  display: inline-block;
  color: #fff;
  font-size: 16px;
}
.choseAddress .chose-title span:nth-child(2) {
  margin-left: 25px;
}
.choseAddress .chose-title span:nth-child(3) {
  float: right;
  margin-right: 10px;
}
.choseAddress .addressWrapper {
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  z-index: 50;
  width: 100%;
  background: #f3f5f7;
}
.choseAddress .addressWrapper .address1-wrapper {
  background: #fff;
  padding: 20px 10px;
}
.choseAddress .addressWrapper .address1-wrapper ul li span {
  display: inline-block;
}
.choseAddress .addressWrapper .address1-wrapper ul li p:nth-child(1) {
  margin-bottom: 6px;
}
.choseAddress .addressWrapper .address1-wrapper ul li p:nth-child(1) .address1 {
  font-size: 18px;
  font-weight: bold;
  height: 22px;
  line-height: 22px;
}
.choseAddress .addressWrapper .address1-wrapper ul li p:nth-child(1) .tag {
  font-size: 16px;
  color: #008aff;
  border-radius: 2px;
  border: 1px solid #008aff;
  padding: 2px 5px;
  margin-top: 6px;
}
.choseAddress .addressWrapper .address1-wrapper ul li p:nth-child(2) {
  margin-bottom: 8px;
}
.choseAddress .addressWrapper .address1-wrapper ul li p:nth-child(2) .address2 {
  font-size: 16px;
  height: 22px;
  line-height: 22px;
}
.choseAddress .addressWrapper .address1-wrapper ul li p:nth-child(3) {
  margin-bottom: 18px;
}
.choseAddress .addressWrapper .address1-wrapper ul li p:nth-child(3) .user,
.choseAddress .addressWrapper .address1-wrapper ul li p:nth-child(3) .sex {
  font-size: 16px;
  color: #999;
}
.choseAddress .addressWrapper .address1-wrapper ul li p:nth-child(3) .phone {
  font-size: 16px;
  color: #999;
  vertical-align: top;
}
.choseAddress .addressWrapper .address2-wrapper {
  padding: 20px 10px;
  background: #fff;
}
.choseAddress .addressWrapper .address2-wrapper .address2-title {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.choseAddress .addressWrapper .address2-wrapper ul li span {
  display: inline-block;
}
.choseAddress .addressWrapper .address2-wrapper ul li p:nth-child(1) {
  margin-bottom: 6px;
}
.choseAddress .addressWrapper .address2-wrapper ul li p:nth-child(1) .address1 {
  font-size: 18px;
  font-weight: bold;
  height: 22px;
  line-height: 22px;
}
.choseAddress .addressWrapper .address2-wrapper ul li p:nth-child(1) .tag {
  font-size: 16px;
  color: #008aff;
  border-radius: 2px;
  border: 1px solid #008aff;
  padding: 2px 5px;
  margin-top: 6px;
}
.choseAddress .addressWrapper .address2-wrapper ul li p:nth-child(2) {
  margin-bottom: 8px;
}
.choseAddress .addressWrapper .address2-wrapper ul li p:nth-child(2) .address2 {
  font-size: 16px;
  height: 22px;
  line-height: 22px;
}
.choseAddress .addressWrapper .address2-wrapper ul li p:nth-child(3) {
  margin-bottom: 18px;
}
.choseAddress .addressWrapper .address2-wrapper ul li p:nth-child(3) .user,
.choseAddress .addressWrapper .address2-wrapper ul li p:nth-child(3) .sex {
  font-size: 16px;
  color: #999;
}
.choseAddress .addressWrapper .address2-wrapper ul li p:nth-child(3) .phone {
  font-size: 16px;
  color: #999;
  vertical-align: top;
}
.newAddress {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
  width: 100%;
  background: #F6F6F6;
}
.newAddress.move-enter-active,
.newAddress.move-leave-active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all .3s linear;
}
.newAddress.move-enter,
.newAddress.move-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.newAddress .newAddress-title {
  height: 55px;
  line-height: 55px;
  padding: 0 10px;
  background: #008aff;
}
.newAddress .newAddress-title .back {
  display: inline-block;
  margin-bottom: 15px;
}
.newAddress .newAddress-title .back .iconfont {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
.newAddress .newAddress-title span {
  display: inline-block;
  color: #fff;
  font-size: 16px;
}
.newAddress .newAddress-title span:nth-child(2) {
  margin-left: 25px;
}
.newAddress .newAddress-content {
  background: #fff;
}
.newAddress .newAddress-content ul {
  padding-left: 10px;
  text-align: initial;
}
.newAddress .newAddress-content ul li {
  min-height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #F6F6F6;
}
.newAddress .newAddress-content ul li label {
  width: 30%;
  float: left;
  display: inline-block;
  margin-right: -5px;
}
.newAddress .newAddress-content ul li label.label-address {
  height: 70px;
  line-height: 70px;
}
.newAddress .newAddress-content ul li .username,
.newAddress .newAddress-content ul li .phone,
.newAddress .newAddress-content ul li .house {
  width: 70%;
  height: 30px;
  line-height: 30px;
  caret-color: #5dc0ff;
  outline: none;
}
.newAddress .newAddress-content ul li .username {
  border-bottom: 1px solid #F6F6F6;
}
.newAddress .newAddress-content ul li .sex {
  display: inline-block;
  border: 1px solid #f6f6f6;
  width: 65px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
}
.newAddress .newAddress-content ul li .address-placeholder {
  display: inline-block;
  color: #757575;
}
.newAddress .newAddress-content ul li .name,
.newAddress .newAddress-content ul li .address {
  height: 30px;
  line-height: 30px;
}
.newAddress .newAddress-content ul li .name {
  font-size: 14px;
  margin-top: 5px;
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newAddress .newAddress-content ul li .address {
  font-size: 12px;
  color: #8c8c8c;
}
.newAddress .newAddress-content ul li .icon-jiantouyou {
  float: right;
  color: rgba(117, 117, 117, 0.5);
}
.newAddress .newAddress-content ul li .tag {
  display: inline-block;
  border: 1px solid #f6f6f6;
  width: 65px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  margin-right: 8px;
}
.newAddress .newAddress-content ul li .act {
  display: inline-block;
  color: #5dc0ff;
  border: 1px solid #5dc0ff;
  width: 65px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  margin-right: 8px;
}
.newAddress .newAddress-content ul li ul {
  margin-left: 26%;
}
.newAddress .newAddress-content ul li ul:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.newAddress .newAddress-content ul li ul li {
  border: none;
  float: left;
  margin-right: 20px;
}
.newAddress .newAddress-content ul li ul li .iconfont {
  font-size: 30px;
}
.newAddress .newAddress-content ul li ul li .active {
  color: #008aff;
}
.btn-box {
  text-align: center;
  margin-top: 10px;
}
.btn-box .save {
  width: 95%;
  height: 45px;
  border-radius: 0px;
}
.mint-indicator-wrapper {
  top: 50%;
  left: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  z-index: 70;
}
.mint-indicator-mask {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: transparent;
  z-index: 60;
}
