.settlement {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0px;
  z-index: 60;
  width: 100%;
  background: #f3f5f7;
  .back{
    position: absolute;
    top: 38px;
    left: 25px;
    .iconfont{
      display: block;
      padding: 8px;
      font-size: 16px;
      text-align: center;
      color: #fff;
      background: rgba(77, 77, 77, 0.3);
      border-radius: 50%;
    }
  }
  .address {
    height:150px;
    background: #00a0fe;
    text-align: center;
    border:1px solid red;
    .add-title{
      display: inline-block;
      text-align: center;
      padding-top: 35px;
      font-weight: 600;
      font-size: 20px;
      color: #fff;
    }
    .iconfont{
      font-weight: 600;
      font-size: 20px;
      margin-left: 8px;
      color: #fff;
    }
    .add-first,.add-second{
      margin-top: 18px;
      text-align: center;
      color: #fff;
      font-weight: 600;
    }
    .add-second{
      margin-top: 6px;
    }
  }
}

